<div class="container mt-4">
  <!-- Error Message -->
  <div *ngIf="error" class="d-flex justify-content-between align-items-center alert alert-danger show" role="alert">
    <div class="w-100 text-center">{{ error }}</div>
    <button type="button" class="btn" (click)="closeError()"><i class="fas fa-xmark"></i></button>
  </div>

  <!-- Loading Spinner -->
  <div *ngIf="loading" class="d-flex justify-content-center align-items-center" style="height: 200px;">
    <div class="spinner-border text-primary" role="status" style="width: 3rem; height: 3rem;">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>

  <!-- User Cards -->
  <div *ngIf="!loading" class="row g-4">
    <div class="col-md-6 col-lg-4 mb-4" *ngFor="let user of users">
      <div class="card shadow-sm ">
        <div class="card-body">
          <div class="d-flex justify-content-between">
            <h5 class="card-title">{{ user.fullName }}</h5>
            <div *ngIf="user.role !== 'Admin'" class="d-flex justify-content-between gap-2">
              <p>Activity status</p>
              <label class="form-check form-switch">
                <input
                  class="form-check-input"
                  style="width: 40px;"
                  [ngClass]="{ 'bg-primary': user.isActive, 'bg-light': !user.isActive }"
                  type="checkbox"
                  [checked]="user.isActive"
                  (change)="onStatusChange(user)"
                />
              </label>
            </div>
          </div>

          <div>
            <p class="card-text">
              <strong>Role:</strong> {{ user.role }}<br />
              <strong>Email:</strong> {{ user.email }}<br />
              <strong>Phone:</strong> {{ user.phoneNumber }}
            </p>
          </div>

        </div>
        <div class="card-footer d-flex justify-content-evenly">
          <button class="btn btn-outline-primary" (click)="getUserDetails(user.id)">View Details</button>
        </div>
      </div>
    </div>
  </div>
</div>
