<div class="container">

  <!-- Add Crop Component -->
  <app-add-crop></app-add-crop>


  <!-- Loading Spinner -->
  <div *ngIf="loading" class="d-flex justify-content-center align-items-center" style="height: 200px;">
    <div class="spinner-border text-primary" role="status" style="width: 3rem; height: 3rem;">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>

  <!-- Crop List -->
  <div *ngIf="!loading">

    <h4 *ngIf="crops.length === 0" class="mt-3 text-center">No crops have been added</h4>

    <!-- Error Message -->
    <div *ngIf="error" class="my-3 d-flex justify-content-between align-items-center alert alert-danger show" role="alert">
      <div class="text-center me-3">{{ error }}</div>
      <button class="btn btn-danger btn-sm" (click)="closeError()"><i class="fa-solid fa-xmark"></i></button>
    </div>

    <!-- Table for displaying crops -->
    <div *ngIf="crops.length != 0" class="card shadow border rounded-4 my-3">
      <div class="card-body">
        <table class="table table-hover">
          <thead class="text-primary">
            <tr>
              <th scope="col" style="width: 45%;">Name</th>
              <th scope="col" style="width: 45%;">Type</th>
              <th scope="col" style="width: 10%;">Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let crop of crops" class="align-middle">
              <!-- Crop name input when editing -->
              <td>
                <input *ngIf="editingCropId === crop.id" [(ngModel)]="crop.name" class="form-control form-control-sm" />
                <span *ngIf="editingCropId !== crop.id">{{ crop.name }}</span>
              </td>
              <!-- Dropdown when editing is true -->
              <td>
                <select *ngIf="editingCropId === crop.id" [(ngModel)]="crop.type" class="form-control form-control-sm">
                  <option value="Vegetable">Vegetable</option>
                  <option value="Fruit">Fruit</option>
                  <option value="Grain">Grain</option>
                </select>
                <span *ngIf="editingCropId !== crop.id">{{ crop.type }}</span>
              </td>
              <!-- Edit and Delete buttons only when not editing -->
              <td class="text-center" style="white-space: nowrap;">
                <button *ngIf="editingCropId !== crop.id" class="btn btn-success btn-sm mx-2 rounded-circle shadow-sm" (click)="startEditing(crop.id)">
                  <i class="fas fa-edit"></i>
                </button>
                <button *ngIf="editingCropId !== crop.id" class="btn btn-danger btn-sm mx-2 rounded-circle shadow-sm" (click)="deleteCrop(crop.name)">
                  <i class="fas fa-trash"></i>
                </button>
                <button *ngIf="editingCropId === crop.id" class="btn btn-success btn-sm mx-2 rounded-circle shadow-sm" (click)="saveCrop(crop)">
                  <i class="fas fa-check"></i>
                </button>
                <button *ngIf="editingCropId === crop.id" class="btn btn-secondary btn-sm mx-2 rounded-circle shadow-sm" (click)="this.editingCropId = null">
                  <i class="fas fa-times"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
